include MANIFEST.in
include docs/LICENSE
recursive-include docs *.txt
recursive-include socialaggregator *.py
recursive-include socialaggregator/templates *
recursive-include socialaggregator/locale *
