{% extends "skeleton.html" %}

{% block base_content %}
<div id="content-main">
    <h2> Ressources</h2>
    {% for ob in object_list %}
    <div class="contentBlock">
        <div class="ressource">
            <h3>{{ ob.name }}</h3>
            {% if ob.description %}
                <p>{{ ob.description }}</p>
            {% endif %}
            {% if ob.media_url %}
                <p>
                    <a href="{{ ob.media_url }}">
                        {% if ob.button_label %}
                            {{ ob.button_label }}
                        {% else %}
                            See on website
                        {% endif %}
                    </a>
                </p>
            {% endif %}
        </div>
        <div class="block_posted">
            {% if ob.author %}
                <h4>{{ ob.author }}</h4>
            {% endif %}
            <p>{{ ob.ressource_date }}</p>
        </div>
    </div>
    {% endfor %}
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
            {% endif %}
        </span>
    </div>
</div>
{% endblock %}
